.calendar {
  position: fixed;
  z-index: 99999999999999999;
  top: 345px;
  left: 5
}
/* .calendar .rdrCalendar {
  background-color: black;


}
.calendar .rdrCalendarWrapper {
  background-color: black;
  
} */

/* .calendar .rdrDateDisplayWrapper {
  background-color: black;

} */

/* .calendar .rdrDefinedRangesWrapper {
  background-color: black;
} */

.calendar .rdrMonths {
  background-color: rgb(20, 20, 20);
}

.rdrMonthAndYearWrapper {
  background-color: rgb(50, 50, 50);
  height: none;
  padding: 10px 0px;
}

.rdrMonthAndYearPickers select{
  color: rgb(255, 255, 255);
  font-weight: 500;
background: url("data:image/svg+xml;utf8,<svg width='9px' height='6px' viewBox='0 0 9 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g id='Artboard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' transform='translate(-636.000000, -171.000000)' fill-opacity='0.368716033'><g id='input' transform='translate(172.000000, 37.000000)' fill='%23FFFFFF' fill-rule='nonzero'><g id='Group-9' transform='translate(323.000000, 127.000000)'><path d='M142.280245,7.23952813 C141.987305,6.92353472 141.512432,6.92361662 141.219585,7.23971106 C140.926739,7.5558055 140.926815,8.06821394 141.219755,8.38420735 L145.498801,13 L149.780245,8.38162071 C150.073185,8.0656273 150.073261,7.55321886 149.780415,7.23712442 C149.487568,6.92102998 149.012695,6.92094808 148.719755,7.23694149 L145.498801,10.7113732 L142.280245,7.23952813 Z' id='arrow'></path></g></g></g></svg>") no-repeat;
background-position: right 8px center;

}
.rdrMonthAndYearPickers select:hover{
  background-color: rgb(24, 24, 24);
}

.rdrDayNumber span{
  color: rgb(255, 255, 255);
  font-weight: 400;
}

.rdrDayPassive .rdrDayNumber span {
  color: #616161;
}

.rdrDayToday .rdrDayNumber span::after{
  background-color: #33c6dd;
}

.rdrDay:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span {
  color: rgba(0, 0, 0);
}
/* .calendar .rdrWeekDays {
  background-color: black;
}

.calendar .rdrDays {
  background-color: black;
} */

.calendar .rdrStartEdge,
.calendar .rdrEndEdge,
.calendar .rdrInRange {
  background-color: #33c6dd;
}

/* MuiInputBase-input-MuiOutlinedInput-input{

} */